html, body {
    height: 100%;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e7e5e4;
}

.form-insult, #result {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.form-insult .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
